body
{
background-color: black;
display: flex;

}


#Logo
{
background-color: black;
float: left;
height: 100vh;
width: 50vh;
flex: 1;
overflow: hidden;
}


#SignUp-Box
{  height: 100vh;
  margin: 0px;
  width: 50vh;
  float: right;
  right: 0px;
  background-color: rgb(253, 156, 0);
  color: white;
  flex: 1;
}
