body
{
background-color: black;
display: flex;

}
h1
{
  font-family: 'Muli', sans-serif;
}
#SignUpForm
{
margin-top: 20vh;

}
a{
	color:black;
}
a:hover{
	color:white;
}

#Logo
{
background-color: black;
float: left;
height: 100vh;
width: 50vh;
flex: 1;
overflow: hidden;
}

input{
	border:1px solid black;
	
}
#SignUp-Box
{  height: 100vh;
  margin: 0px;
  width: 50vh;
  float: right;
  right: 0px;
  background-color: rgb(253, 156, 0);
  color: white;
  flex: 1;
  text-align:center
}

input[type=text ] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 15px;
  background-color: white;
  background-image: url('usernameIcon.png');
  background-size: 20px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

input[type=email ] {

  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 15px;
  background-color: white;
  background-image: url('emailIcon.png');
  background-size: 20px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;

}
input[type=password ] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 15px;
  background-color: white;
  background-image: url('passwordIcon.png');
  background-size: 20px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}
.signUp
{ font-family: 'Muli', sans-serif;
  background-color:black ;
  color: white;
  font-size: 15px;
  padding: 20px 20px;
  border: none;
  cursor: pointer;
  width: 70%;
  opacity: 1.0;
}
